body{
	color: #ababab; 
	margin: 0;
}

.docplannerHeader{
	padding: 10px;
	display: flex;
    max-width: 1000px;
 	margin: auto;
 	justify-content: space-between;
}
select {
	   border: 1px solid transparent;
    background-color: transparent;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
    font-size: 17px;
}
select option{
	color: #000;
}

.logo-docplanner{
	height: 30px;
}
.headerMenu ul{
	display: flex;
	gap:20px;
}
.headerMenu li{
	list-style-type: none;
}
.headerMenu a{
	text-decoration: none;
	color: #ababab;
}
.headerMenu a:hover{
	color: #00c3a5;
}
.headerMenu .Active{
	color: #00c3a5;
}

#menu{
 	max-width: 1000px;
 	margin: auto;
}

.introduction{
	display: flex;
	flex-direction:column;
	align-items:center;
}

.introduction-title{
	color: #00c3a5;
	margin: 1em 0;
	font-size: 2.125rem;
	font-family: Work Sans,Arial,sans-serif;
	font-weight: 300;
    letter-spacing: -.3px;
}

.introduction-description{
	display: flex;
	gap:20px;
}

.introduction-description p{
	line-height: 1.75;
}

.services{
	display: flex;
	gap:20px;

}
.sercice-box{
	color: white;
	border-radius: 10px;
	display: flex;
	flex-direction:column;
	padding: 35px;
	justify-content: space-between;
	width: 50%;

}
.service-patients{
	background-color:#00ccb1; 

}
.service-doctors{
	background-color:#3d83df; 

}
.service-clinics{
	background-color:#1b2734; 

}
@media screen and (max-width:700px){
	.services{
		flex-direction: column;
	}
	.docplannerHeader{
		flex-direction: column;
	}
	.headerMenu ul{
		justify-content: space-evenly;

	}
}